/* lo que debe tener si o si el aplicativo */
:root {
    --aqua: #a8d6dc;
    --font-color: #FFFFFF;
    --sandy: #f4a26c;
    --beige: #d6c19d;
    --black: #000000;
    --paradiso: #3e8e98;
    --fountain: #63b5bf;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
    min-width: 240px;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    /* dimension más chica de los celulareas */
    height: 50px;
    text-align: center;
    border-bottom: 2px inset;
}

header .section_header {
    width: 100%;
    height: 49px;
    position: relative;
    display: flex;
}

header .figure_header {
    width: 100px;
    height: 40px;
    position: relative;
    display: flex;
    margin-top: 1px;
}

.menu-section {
    display: none;

}

.menu {
    justify-content: end;
    width: 100px;
    height: 40px;
    position: relative;
    display: flex;
    flex-grow: 1;
    align-items: center;
    padding: 16px;
    margin-block: 3px;
}

.menu ul {
    display: flex;
    position: relative;
    margin: 0;
    padding: 0;
}

.menu ul li {
    list-style: none;
    margin-left: 36px;
}

.menu ul li a {
    text-decoration: none;
    font-size: 1.4rem;
    margin: 5px;
    color: var(--aqua);
    transition: color 0.4s ease;
    transition: 0.4s;
}

.menu ul li a:hover {
    color: var(--sandy);
    margin-left: 3rem;
}

#selected {
    background: transparent;
    border: 2px solid var(--aqua);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 12px;
    border-radius: 50px;
    transition: 0.4s;
}

#selected:hover {
    color: var(--sandy)
}

.logo img {
    width: 180px;

}

.menu nav {
    display: block;
    position: fixed;
    top: 0;
    right: -250px;
    background: white;
    height: 100vh;
    padding: 40px;
    z-index: 1;
    transition: all 300ms;
}

.menu ul {
    flex-direction: column;
    color: #d3e1e1;
    text-align: center;
    height: 10px;
    width: auto;
    text-align: center;
}

.menu ul li {
    margin-top: 30px;
    margin-left: 0;
}

.menu ul li a {
    color: var(--fountain);
}



.menu nav img {
    margin: 10px;
    display: block;
    text-align: center;
    width: 120px;
    height: auto;
    background-color: transparent;
    background-position: 0cqb;
    border-radius: 10px;
    /* box-shadow: 0 2px 4px var(--turquoise); */
    display: inline-block;
    margin-left: 10px;
}

#back_menu {
    /* el tamaño del menu que se mostrara */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 1;
}

.menu #btn_menu {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background: rgba(226, 219, 219, 0.1);
    font-size: 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 300ms;
}

#btn_menu:checked~main {
    background-color: #333;
}

.menu #btn_menu:hover {
    background: rgba(12, 12, 12, 0.1);
}

header .menu-header {
    justify-content: end;
    width: 100px;
    height: 40px;
    position: relative;
    display: flex;
    flex-grow: 1;
    align-items: center;
    padding: 16px;
    margin-block: 3px;
}



/* quienes somos */

/* titulo */
.div--container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
    height: auto;
    width: auto;
    /* margin: 10px; */
    margin-top: 1%;
}

.text-colored {
    font-size: 40px;
    font-weight: 300px;
    /* Centra el texto */
    text-align: center;
    /* Ajusta las palabras largas */
    word-wrap: break-word;
    /* Propiedad de gradiante para establecer la combinación de colores para el titulo */
    background: linear-gradient(90deg, #3ca6b4, #f4a26c, #3e8e98);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: changeColor 5s linear infinite;
}

/* Estilos para el texto slogan de presenteación p */
.text-slogan {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
    height: auto;
    width: auto;
    margin: 10px;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    justify-content: center;
}

.text-slogan p {
    margin-top: 10px;
    text-align: center;
}


/* historia */
.div--info-me--right {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(169, 215, 221, 0.5);
 /*    border-radius: 5%; */
    margin-top: 4%;
/*     margin-left: 1rem;
    margin-right: 1rem; */
}

.row--right,
.row--left {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* "col-md-6", se utiliza como parte de un sistema de cuadrícula. */
.col-md-6 {
    justify-content: center;
    display: flex;
}

.text {
    margin-top: 30px;
    text-align: center;
    font-size: 1.5rem;
    order: 2;
    /* Cambia el orden en modo computadora */
    margin-left: 25px;
    margin-right: 25px;
    font-weight: 600;
    justify-content: center;
}

.text p {
    margin-top: 10px;
    text-align: justify;
}

.text h1 {
    color: #3e8e98;
}

/* Aplicación de animación para las imagenes */
@keyframes escalar {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.image_svg {
    display: flex;
    margin-top: 10px;
    max-width: 100%;
    justify-content: center;
    animation: escalar 2s linear infinite;
}


.image_svg img {
    width: auto;
    /* Ajusta el ancho de la imagen automáticamente */
    height: auto;
    /* Ajusta la altura de la imagen automáticamente */
    max-width: 50%;
    /* Asegura que la imagen no exceda el ancho del contenedor */
    order: 1;
    border-radius: 10%;
}

/* Servicios */
.text p {
    display: flex;
    align-items: center;
    /* Ajusta el margen inferior según sea necesario */
}
/* Iconos */
.text svg {
    height: 35px;
    width: calc(7rem - 1px);
}


/* Formulario de registro */
.formulario {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 800px;
    width: 90%;
    margin: auto;
    padding: 40px;
}

.formulario__label {
    display: block;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
    color: #3E8E98;
    font-size: 15px;
    /* Ajusta el tamaño de fuente deseado */
}

.formulario__grupo-input {
    position: relative;
}

.formulario__input {
    width: 100%;
    background: #fff;
    border: 2px solid #3E8E98;
    border-radius: 6px;
    height: 45px;
    line-height: 45px;
    padding: 0 40px 0 10px;
    transition: .3s ease all;
    font-size: 15px;
    /* Ajusta el tamaño de fuente deseado */
}

.formulario__input:focus {
    border: 3px solid #0075FF;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}

.formulario__input-error {
    font-size: 12px;
    margin-bottom: 0;
    display: none;
}

.formulario__input-error-activo {
    display: block;
}

.formulario__validacion-estado {
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
}

.formulario__checkbox {
    margin-right: 10px;
}

.formulario__grupo-terminos,
.formulario__mensaje,
.formulario__grupo-btn-enviar {
    grid-column: span 2;
}

.formulario__mensaje {
    height: 45px;
    line-height: 45px;
    background: #F66060;
    padding: 0 15px;
    border-radius: 3px;
    display: none;
}

.formulario__mensaje-activo {
    display: block;
}

.formulario__mensaje p {
    margin: 0;
    font-size: 15px;
}

.formulario__grupo-btn-enviar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario__btn {
    height: 45px;
    width: 30%;
    border: 2px solid #3E8E98;
    font-weight: bold;
    border-radius: 5px;
    font-size: 15px;
    color: black;
    transition: background-color 0.3s;
    background-color: white;
    padding: 10px 20px;
}

.formulario__btn:hover {
    background-color: #3E8E98;
}

.formulario__mensaje-exito {
    font-size: 14px;
    color: #119200;
    display: none;
}

.formulario__mensaje-exito-activo {
    display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario_grupo-correcto .formulario_validacion-estado {
    color: #1ed12d;
    opacity: 1;
}

.formulario_grupo-incorrecto .formulario_label {
    color: #bb2929;
}

.formulario_grupo-incorrecto .formulario_validacion-estado {
    color: #bb2929;
    opacity: 1;
}

.formulario_grupo-incorrecto .formulario_input {
    border: 3px solid #bb2929;
}


/* ----- -----  Mediaqueries ----- ----- */
@media screen and (max-width: 800px) {
    .formulario {
        grid-template-columns: 1fr;
    }

    .formulario__grupo-terminos,
    .formulario__mensaje,
    .formulario__grupo-btn-enviar {
        grid-column: 1;
        font-size: 15px;
    }

    .formulario__btn {
        width: 100%;
    }

}

/* para el footer */
.pie-pagina {
    position: relative;
    width: 100%;
    background-color: var(--font-color);
    text-align: center;
    min-width: 320px;
}

.pie-pagina .footer_copy {
    background-color: var(--fountain);
    padding: 15px 10px;
    text-align: center;
    color: var(--black);
}

.pie-pagina .footer_copy small {
    font-size: 15px;
}
