/* lo que debe tener si o si el aplicativo */
:root{
    --aqua: #a8d6dc;
    --font-color: #FFFFFF;
    --sandy: #f4a26c;
    --beige: #d6c19d;
    --black: #000000 ;
    --paradiso:#3e8e98;
    --fountain:#63b5bf;
    --green-gray: #68776E;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family:'DM Sans', sans-serif;
    min-width: 240px;
}
/*Header*/
header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px; /* dimension más chica de los celulareas */
    height: 50px;
    text-align:center;
    border-bottom: 2px inset;
}
header .section_header{
    width: 100%;
    height: 49px;
    position: relative;
    display: flex;
}
header .figure_header{
    width: 100px;
    height: 40px;
    position: relative;
    display: flex;
    margin-top: 1px;
}
.menu-section{
    display: none;
   
}
.menu{
    justify-content: end;
    width: 100px;
    height: 40px;
    position: relative;
    display: flex;
    flex-grow: 1;
    align-items: center;
    padding: 16px;
    margin-block: 3px;
}

.menu ul{
    display: flex;
    position: relative;
    margin: 0;
    padding: 0;
}

.menu ul li{
    list-style: none;
    margin-left: 36px;
}

.menu ul li a{
    text-decoration: none;
    font-size: 1.4rem;
    margin: 5px;
    color: var(--aqua);
    transition: color 0.4s ease;
    transition: 0.4s;
}
.menu ul li a:hover{
    color:var(--sandy);
    margin-left:3rem;
}
#selected{
    background:transparent;
    border:2px solid var(--aqua);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 12px;
    border-radius: 50px;
    transition: 0.4s ;
} 
#selected:hover{
    color: var(--sandy)
}

.logo img{
    width: 180px;
    
}
.menu nav{
    display: block;
    position: fixed;
    top: 0;
    right: -250px;
    background: white;
    height: 100vh;
    padding: 40px;
    z-index: 1;
    transition: all 300ms;
}

.menu ul{
    flex-direction: column;
    color: #d3e1e1;
    text-align: center; 
    height: 10px;
    width: auto;
    text-align: center;
}

.menu ul li{
    margin-top: 30px;
    margin-left: 0;
}

.menu ul li a{
    color:var(--fountain);
}



.menu nav img{
    margin:10px;
    display: block;
    text-align: center;
    width: 120px;
    height: auto;
    background-color: transparent;
    background-position:0cqb;
    border-radius: 10px;
    /* box-shadow: 0 2px 4px var(--turquoise); */
    display: inline-block;
    margin-left: 10px;
}

#back_menu{ /* el tamaño del menu que se mostrara */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: none;
    z-index: 1;
}

.menu #btn_menu{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background: rgba(226, 219, 219, 0.1);
    font-size: 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 300ms;
}
#btn_menu:checked ~ main {
    background-color: #333;
  }

.menu #btn_menu:hover{
    background:rgba(12, 12, 12, 0.1);
}
header .menu-header{
    justify-content: end;
    width: 100px;
    height: 40px;
    position: relative;
    display: flex;
    flex-grow: 1;
    align-items: center;
    padding: 16px;
    margin-block: 3px;
}
/* main */
main{
    min-height: 500px;  
}
/* ingreso   */
.container--ingreso{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: row;
}
.div--ventana{
    display: none;
    align-items: center;
    justify-content: center;
    width: 80%;
    min-height: 250px;
    background-color: var(--font-color);
    padding: 20px;
    border-radius: 22px;
    box-shadow: 3px 6px 29px 4px var(--fountain);
    position: absolute;
    margin-top: 20px;
}
.div--ventanaRegistro{
    display: none;
    align-items: center;
    justify-content: center;
    width: 80%;
    min-height: 250px;
    background-color: var(--font-color);
    padding: 20px;
    border-radius: 22px;
    box-shadow: 3px 6px 29px 4px var(--fountain);
    position: absolute;
    margin-top: 20px;
}
.cerrar-ventana{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 19px;
}
.cerrar-ventana i{
    color: var(--paradiso);
}

.title--ventana{
    color: var(--paradiso);
    text-align: center;
    font-size: 2.5rem;
}
.input--inicio{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #F2F2F2;
    font-size: 16px;
    outline: none;
}

.input--registro{
    display: flex;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #F2F2F2;
    font-size: 16px;
    outline: none;
}
.input--button{
    width: auto;
    padding: 10px 40px;
    border-radius: 8px ;
    border-color: var(--font-color);
    font-size: 14px;
    background:  var(--paradiso) ;
    font-weight: 600;
    cursor: pointer;
    color:  var(--font-color) ;
    outline: none;
    display: flex;
    margin: auto;
    margin-top: 20px;
}
.opcion--registro{
    text-align: center;
    text-decoration: revert;
    display: block;
    font-size: 1.6rem;
    margin-top: 15px;
    color:  var(--paradiso) ;
}
.opcion--registro:hover{
    color: var(--sandy);
}

/* para el contenido de los formualrios ya registrados*/
.div--registros{
    margin-top: 15px;
    width: 80%;
}
.div--registros h1{
    text-align: center;
    color: var(--paradiso);
}

.div--formulario{
    margin-top: 20px;
    box-shadow: 3px 6px 29px 4px var(--fountain);
    padding: 10px;
    border-radius: 5px;
}
.div--formulario h2{
    text-align: center;
}
.div--formulario p{
    font-size: 1.2rem;
    margin-top: 5px;
    margin-right: 10px;
}
.subtitle{
    font-weight: bold;
    margin-top: 5px;
    margin-right: 10px;
}
.div--formulario a{
    display: flex;
    justify-content: end;
    font-size: 1.2rem;
    color:  var(--paradiso);
    
}
.section--info{
    display: flex;
}

/* para la exportancion a excel */
.container--export{
    display: flex;
    justify-content: flex-end; /* Ajusta a 'flex-end' para la esquina derecha */
    position: sticky;
    bottom: 20px; /* Ajusta según sea necesario */
    right: 20px; /* Ajusta según sea necesario */
    margin-top: 25px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.export--excel {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    align-items: center;
    background-color: var(--green-gray);
    border-radius: 50px;
    padding: 5px;
}
.export--excel p{
    color: var(--font-color);
}

.figure_excel img{
    width: 50px;
}

/* para el footer */
.pie-pagina {
    position: relative;
  width: 100%;
  background-color: var(--font-color);
  text-align: center;
  min-width: 320px;
  height: 60px; /* Ajusta la altura según sea necesario */
  z-index: 1; /* Asegura que el footer esté por debajo del .export--excel */
}
.pie-pagina .footer_copy{
    background-color: var(--fountain);
    padding: 15px 10px;
    text-align: center;
    color:var(--black);
}
.pie-pagina .footer_copy small{
    font-size: 15px;
    
}